name: Build MS and Deploy to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - "*.ms"
      - ".github/workflows/build-ms.yml"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4

      - name: Install groff
        run: sudo apt-get update && sudo apt-get install -y groff && pip install bs4 ansi2html

      - name: Build site
        run: |
          chmod +x scripts/build_site.sh
          ./scripts/build_site.sh dist

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: dist

